<section class="login">
  <section class="login-form">
    <%= form_tag(url: login_path) do %>
      <h2>Welcome to URLLockbox, Where All the Links Live</h2>
    
      <section class="register">
        Email: <%= text_field_tag :email %>
        Password: <%= password_field_tag :password %>
        Retype Password: <%= password_field_tag :password_confirmation %>
      </section><!-- end register -->
      <%= submit_tag "Log In", {class: "btn-continue"} %>
    <% end %>
    <br>
    <h4 class="OR">OR<h4>
    <%= button_to 'Sign Up', users_new_path, :method => :get %>
  </section><!-- end login-form -->
</section><!-- end login -->