<section class="new-link">
<h2>Welcome to URLLockbox</h2>
    <h3>Add a new link</h3>
      <div id="create-form">
        <label id="title-field">Title
          <input type="text" id="link-title" name="link-title" placeholder="Title of Link">
        <div class="validation-error"></div>
        </label>
        <label id="url-field">URL
          <input type="url" id="link-url" name="link-url" placeholder="What's the URL?">
        <div class="validation-error"></div>
        </label>
        <button class="btn-continue" id="create-link">Submit Link</button>
      </div>
</section>
<section id="link-filter">
  <label>Filter by letters in the URL or title:
    <input type="text" id="filter-links">
    <button class="btn-cancel" id='show-read' value='hide/show'>Show Read</button>
    <button class="btn-cancel" id= 'show-unread' value='hide/show'>Show Unread</button>
  </label>
</section>
<section class="all-links">
  <% @links.each do |link| %>
    <div class="link">
      <h4><%= link.title %></h4>
      <p>URL:  <strong><%= link.url %></strong></a>
      <p>Already Read?  <strong><%= link.read %></strong></p>
      <input type='hidden' name='<%=link.id %>' id='link-id'>
      <% if link.read %>
        <button class='btn-edit' id='mark-as-read'>Mark as Unread</button>
      <% elsif !link.read %>
        <button class='btn-edit' id='mark-as-read'>Mark as Read</button>
      <% end %>
      <%= link_to 'Edit', "/links/#{link.id}/edit", {class: "btn-edit"} %>
    </div>
  <% end %>
</section> 
<%= button_to "Logout", logout_path, :method => :delete %>