<section class="new-link">
    <%= form_for(Link.new) do |f| %>
      <h2>Welcome to URLLockbox</h2>
      Title: <%= f.text_field :title %>
      URL: <%= f.text_field :url %>
      <%= f.submit "Submit Link" %>
      <% end %>
    <br>
</section>

<section class="links">
  <h4>Here are your current links:</h4>
  <% @links.each do |link| %>
    <div id="individual-link">
      <%= link.title %>
      <%= link.url %>
      <%= link.read %>
    </div>
  <% end %>
</section> 

<%= link_to "Logout", logout_path %>